body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('壁紙　PC.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.date-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

#current-date {
    margin: 0 1em;
    font-size: 1.5em;
}

button {
    border: 2px solid black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    font-size: 2em;
    cursor: pointer;
}

#jump-to-today {
    margin-bottom: 1em;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.5em 1em;
    font-size: 1em;
    width: auto;
    height: auto;
}

.today-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

.relative-day {
    width: 60px; /* Adjust width as needed */
    text-align: center;
}

#relative-day-display {
    margin-left: 1em;
    font-size: 1.2em;
}

#countdown {
    font-size: 2.5em;
    font-weight: bold;
}

.qr-code {
    margin-top: 1em;
}

.qr-code img {
    max-width: 100px;
}
